<div class="col" style="text-align: center;">

    <mat-form-field class="example-full-width" appearance="legacy" style="margin-left: 5px;">
        <input maxlength="3" [formControl]="inputOrigin" matInput placeholder="Ubicacion" class="input_search">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="legacy" style="margin-left: 5px;">
        <input maxlength="3" [formControl]="inputDestination" matInput placeholder="Destino" class="input_search">
    </mat-form-field>


    <!-- <mat-form-field appearance="legacy" style="margin-left: 5px;">
        <mat-label>Departure date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field appearance="legacy" style="margin-left: 5px;">
        <mat-label>Arrival date</mat-label>
        <input matInput [matDatepicker]="picker2">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field> -->

</div>


